<% include ../partials/playersNewHeader %>

<div id="playersnew-header">
	<h1>Add Players to <%= team.name %></h1>
</div>

<div id="playersnew-wrapper">
	
	<div id="playersnew-one">
		
		<form action="/teams" id="player1-form">
			<label for="player1first">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="player1first" id="player1first" autofocus placeholder="First Name">
				<input type="text" name="player1last" id="player1last" placeholder="Last Name">
			<input type="submit" value="Find Player">
		</form>

		<div id="hiddenstatsplayer1">

			<div id="pictureplayer1">
				<img src="" alt="Player Photo" id="urlplayer1" height=200 width=250>

			</div>

			<h2 id="nameplayer1"></h2>
			<h3>Stats:</h3>
			<h4>Points: <span id="pointsplayer1"></span></h4>
			<h4>Assists: <span id="assistsplayer1"></span></h4>
			<h4>Rebounds: <span id="reboundsplayer1"></span></h4>
			<h4>Steals: <span id="stealsplayer1"></span></h4>
			<h4>Blocks: <span id="blocksplayer1"></span></h4>
			<h2>Score: <span id="scoreplayer1"></span></h2>

			<form action="/teams/<%= team.id %>/players" id="addplayer1">
				<input type="submit" value="Add player to your team">
				<input type="hidden" name="teamid" id= "teamid" value="<%= team.id %>">

				<input type="hidden" id="player1name" name="player[name]" value="">
				<input type="hidden" id="player1points" name="player[points]" value="">
				<input type="hidden" id="player1steals" name="player[steals]" value="">
				<input type="hidden" id="player1rebounds" name="player[rebounds]" value="">
				<input type="hidden" id="player1blocks" name="player[blocks]" value="">
				<input type="hidden" id="player1assists" name="player[assists]" value="">
				<input type="hidden" id="player1score" name="player[score]" value="">
				<input type="hidden" id="player1image" name="player[imageUrl]" value="">
			</form>




		</div>
		<div id="successfuladd">
			<p>The player was added to your team. Add again or see your team <a href="teams/<%= team.id %>">here</a></p>

		</div>


	</div>




</div>




<% include ../partials/footer %>