<% include ../partials/playersNewHeader %>

<div id="playersnew-header">
	<h1>Add Players to <%= team.name %></h1>
</div>

<div id="playersnew-wrapper">
	
	<div id="playersnew-one">
		
		<form action="/teams" id="player1-form">
			<label for="player1first">Enter a First and Last Name:</label>
			<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
				<input type="text" name="player1first" id="player1first" autofocus placeholder="First Name">
				<input type="text" name="player1last" id="player1last" placeholder="Last Name">
			<input type="submit" value="Find Player">
		</form>

		<div id="hiddenplayer1">
			
			<h3>Stats:</h3>
			<h4>Points: <span id="pointsplayer1"></span></h4>
			<h4>Assists: <span id="assistsplayer1"></span></h4>
			<h4>Rebounds: <span id="reboundsplayer1"></span></h4>
			<h4>Steals: <span id="stealsplayer1"></span></h4>
			<h4>Blocks: <span id="blocksplayer1"></span></h4>
			<h4>Score: <span id="scoreplayer1"></span></h4>




		</div>


	</div>




</div>




<% include ../partials/footer %>