<% include ../partials/header %>

<div id="maindiv-teams">
	<h1>The League</h1>
	<h2>Check out your competition below:</h2>

	
	<form action="/teams/new"><input type="submit" value="Add a New Team to the League"></form>

</div>



<% include ../partials/footer %>