<% include ../partials/playersNewHeader %>
<div id="navagate-newteam">
	<a href="/teams">The League</a>
	<% if (isLoggedIn) { %>
		<a href="/logout">Logout</a>
	<% } %>
</div>

<div id="topbar-newteam">
		
	<div id="insidetopbar-newteam">

		
			<h1>Add a new team to The League!</h1>
			<h3 id="directions">It's simple! Just add the name and an image to get started.</h3>
	</div>

</div>




<div id="main-new">
	<form action="/teams" method="POST" id="newteamform">
			<label for="name">Team Name:</label>
				<input type="text" name="team[name]" id="name" autofocus>

			<label for="image">Image Url:</label>
				<input type="text" name="team[imageUrl]" id="image">

		<input type="submit" value="Add team">
	</form>


	<!-- Div to appear after team has been created -->
	<div id="newplayer-teamsnew">
		<div id="playersnew-one">
			
			<form action="/teams" id="player1-form">
				<label for="player1first">Enter a First and Last Name:</label>
				<p>Be sure to spell their first and last name correctly! <a href="http://www.google.com">Google</a></p>
					<input type="text" name="player1first" id="player1first" autofocus placeholder="First Name">
					<input type="text" name="player1last" id="player1last" placeholder="Last Name">
				<input type="submit" id="submitplayer" value="Find Player">
			</form>
		<div class="autocomplete">
			<ul class="searchresults">
			</ul>
		</div>

			<div id="hiddenstatsplayer1">

				<div id="pictureplayer1">
					<img src="" alt="Player Photo" id="urlplayer1" height=200 width=250>

				</div>

				<h2 id="nameplayer1"></h2>
				<h3>Stats:</h3>
				<h4>Points: <span id="pointsplayer1"></span></h4>
				<h4>Assists: <span id="assistsplayer1"></span></h4>
				<h4>Rebounds: <span id="reboundsplayer1"></span></h4>
				<h4>Steals: <span id="stealsplayer1"></span></h4>
				<h4>Blocks: <span id="blocksplayer1"></span></h4>
				<h2>Score: <span id="scoreplayer1"></span></h2>

		<!-- √ Need to fix this form action and hidden input value (add the /id part from client js after first ajax post) --> 
				<form action="/teams/:id/players" id="addplayer1">
					<input type="submit" value="Draft player to your team">
					<input type="hidden" name="teamid" id= "teamid" value=":id">
				</form>
				<p id="gototeam" >Add this player or see your team <a href="/teams/:id">here</a></p>



			</div>
			<div id="successfuladd">
		<!-- √ And here with the team thing -->
				<p id="addagain">The player was drafted to your team. Draft another player or see your team <a href="/teams/:id">here</a></p>

			</div>


		</div>
	</div>
</div>




<!-- <form action="/logout"><input type="submit" value="Logout"></form> -->





<% include ../partials/footer %>