<% include ./partials/header %>

<div id="topbar-home">
		
	<div id="loginbox">
		<h1>The League</h1>
		<h4>Login</h4>
		<form action="/login" method="POST">
			<label for="username"></label>
			<input type="text" name="user[username]" id="username" autofocus placeholder="Username">
			<label for="password"></label>
			<input type="password" name="user[password]" id="password" placeholder="Password">
			<input type="submit" value="Login">
		</form>	
		<p>Not yet an owner: <a href="/signup">Sign Up Here</a></p>

	</div>

</div>



<div id="maindiv-home">
	
	<div id="centered-home">
		<div id="text">
			<p>Join for free today</p>
			<p>Sign up or sign in and begin building your team</p>
			<p>Scout your players first by looking up their stats before drafting them</p>
			<p>Compare your team to others and see who's is the best</p>
		</div>

	</div>

</div>

<% include ./partials/footer %>