<% include ./partials/header %>

<div id="topbar-home">
		
	<div id="loginbox">
		<h1>Welcome to The League</h1>
		<h4>Login</h4>
		<form action="/login" method="POST">
			<label for="username"></label>
			<input type="text" name="user[username]" id="username" autofocus placeholder="Username">
			<label for="password"></label>
			<input type="text" name="user[password]" id="password" placeholder="Password">
			<input type="submit" value="Login">
		</form>	
		<p>Not yet an owner: <a href="/signup">Sign Up Here</a></p>

	</div>

</div>



<div id="maindiv-home">
	
	<div id="centered-home">
		

	</div>

</div>

<% include ./partials/footer %>