<% include ./partials/header %>

<div id="navagate-signup">
	<a href="/">Home</a>
</div>
<div id="topbar-signup">

	

	<div id="insidetopbar">
		<p>Welcome back to The League</p>
	</div>




</div>



<div id="maindiv-signup">
	
	<div id="centered-login">
		
		<div>
			<h4>Login</h4>
			<form action="/login" method="POST">
				<label for="username"></label>
				<input type="text" name="local[username]" id="username" autofocus placeholder="Username">
				<label for="password"></label>
				<input type="password" name="local[password]" id="password" placeholder="Password">
				<input type="submit" value="Login">
			</form>	
		</div>
		<div>
			<a href="/auth/facebook"><img src="https://i.stack.imgur.com/ZW4QC.png" alt="Facebook"></a>

		</div>
		<div>
			<a href="/auth/google"><img src="https://developers.google.com/accounts/images/sign-in-with-google.png" alt="Google" height=45 width=214></a>

		</div>

		<div>
			<a href="/auth/twitter"><img src="http://www.portlandbuttonworks.com/image/data/twitter.png" alt="Twitter" height=45 width=214></a>

		</div>
	</div>

</div>

<% include ./partials/footer %>